.main-navbar {
  &__container {
    grid-column: full-start / full-end;
    display: grid;
    grid-template-columns:
      [full-start] 10vw [content-start] minmax(6rem, 1fr) [center-start] repeat(
        8,
        [col-start] minmax(min-content, 14rem) [col-end]
      )
      [center-end] minmax(6rem, 1fr) [content-end] 10vw [full-end];
    background-color: var(--light-grey);
  }
  &__content {
    grid-column: content-start / content-end;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__logo {
    width: 8vw;
  }
  &__list {
    display: flex;
    flex-direction: row;
    &--item {
      list-style-type: none;
    }
  }
  &__link {
    padding-left: 5rem;
    text-decoration: none;
    color: #000;
    font-size: 1.9rem;
    font-weight: 600;
  }
}
