.footer {
  &__container {
    grid-column: full-start / full-end;
    background-color: var(--grey);
    display: grid;
    grid-template-columns:
      [full-start] 10vw [content-start] minmax(6rem, 1fr) [center-start] repeat(
        8,
        [col-start] minmax(min-content, 14rem) [col-end]
      )
      [center-end] minmax(6rem, 1fr) [content-end] 10vw [full-end];
  }
  &__content {
    grid-column: content-start / content-end;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    max-width: 60vw;
    margin: -10vh auto 0;
    padding: 0 2rem;
  }
  &__box {
    flex-basis: 40%;
    background-color: var(--salmon-pink);
    height: 30rem;
    padding: 6rem;
    z-index: 3;
    &--title {
      color: #fff;
    }
  }
}
