.footer {
  &__container {
    grid-column: full-start / full-end;
    background-color: var(--grey);
    display: grid;
    grid-template-columns:
      [full-start] 10vw [content-start] minmax(6rem, 1fr) [center-start] repeat(
        8,
        [col-start] minmax(min-content, 14rem) [col-end]
      )
      [center-end] minmax(6rem, 1fr) [content-end] 10vw [full-end];
  }
  &__content {
    grid-column: content-start / content-end;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    max-width: 60vw;
    margin-top: -10vh;
  }
  &__box {
    flex-basis: 60%;
    background-color: var(--salmon-pink);
    height: 25rem;
    padding: 6rem;
    z-index: 3;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 3rem 100%, 0 90%);
    &--title {
      font-size: 3rem;
    }
    &--hr {
      margin: 1rem;
      height: 2px;
      background-color: black;
    }
    &--sign-off {
      display: flex;
      align-items: center;
    }
    &--logo {
      width: 5vw;
    }
  }
}
