.footer__box {
  flex-basis: 50%;
  background-color: var(--salmon-pink);
  height: 30rem;
  padding: 5rem;
  z-index: 3;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 3rem 100%, 0 90%);
  &--title {
    font-size: 2.5rem;
  }
  &--text {
    font-size: 1.4rem;
  }
  &--hr {
    margin: 1rem 0;
    height: 1px;
    background-color: black;
    border: none;
  }
  &--sign-off {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &--logo {
    width: 3.5vw;
    margin-top: 1rem;
  }
  &--container-text {
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
  }
}
