.heading-1 {
  font-size: 4rem;
  text-transform: uppercase;
}

.heading-2 {
  font-size: 3rem;
}

.heading-3 {
  font-size: 2.2rem;
}

.hero-text {
  font-size: 1.8rem;
}

.paragraph-text {
  font-size: 1.6rem;
}
