.header {
  &__container {
    background-color: var(--grey);
    grid-column: content-start / content-end;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 24vh);
    /* gap between images */
    gap: 3vh;
    padding: 3vh;
  }
  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 3rem 100%, 0 90%);
    position: relative;
    z-index: 0; /* Position the image below the pseudo-element */
    &--container {
      position: relative;
      display: flex;
      /* Ensures no overflow from clip-path or image scaling */
      overflow: hidden;
      transition: transform 0.3s ease-in-out; /* Smooth transition for transform */
      &:hover {
        transform: scale(1.02); /* Scale the image up by 5% on hover */
      }
      &::before {
        content: "";
        position: absolute;
        top: -2vh; // Initially hide the pink line above the visible area
        left: 0;
        width: 100%;
        height: 1vh;
        background-color: var(--salmon-pink);
        z-index: 2; // Make sure the line is above all other content
        transition: top 0.3s ease; // Smooth transition for sliding down
      }
      &::after {
        background: linear-gradient(
          45deg,
          #fff,
          var(--light-grey),
          var(--grey)
        );
        content: "";
        opacity: 0.8;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 3rem 100%, 0 90%);
      }
      &:hover::before {
        /* Position the line at the top on hover */
        top: 0;
      }
    }
    &--big {
      grid-column: 1 / 2;
      grid-row: 1 / 3;
    }
    &--wide {
      grid-column: 1 / -1;
      grid-row: 3 / 4;
    }
    &--top-right {
      grid-column: 2 / 3;
      grid-row: 1 / 2;
    }
    &--bottom-right {
      grid-column: 2 / 3;
      grid-row: 2 / 3;
    }
  }
  &__ap-logo {
    width: 0;
    opacity: 0;
    transition: opacity 0.3s ease, width 0.3s ease;
  }
  &__text-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    z-index: 1; /* Above image and overlay */
  }
  &__text {
    text-align: center;
  }
}

.header__text-container:hover .header__ap-logo {
  opacity: 1; /* Full visibility on hover */
  width: 6rem;
}

.heading-1::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -1rem;
  width: 0;
  height: 1px;
  background-color: #000;
  transition: all 0.3s ease;
}

.header__text-container:hover .heading-1::after {
  width: 100%;
  left: 0;
}
