.header {
  &__container {
    background-color: var(--light-grey);
    height: calc(100vh - 16rem);
    grid-column: content-start / content-end;
  }
  &__image {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 3% 100%, 0 90%);
  }
}
