.marquee {
  &__container {
    display: flex;
    align-items: center;
    overflow: hidden;
    grid-column: full-start / full-end;
    height: 8vh;
    background-color: var(--light-grey);
  }
  &__content {
    font-size: 2.5rem;
    white-space: nowrap;
    animation: marquee 50s infinite linear;
    &:after {
      content: " Quality Products | Partnership | Process Driven | Bespoke Solutions | Fast Turnarounds | Quality Products | Partnership | Process Driven | Bespoke Solutions | Fast Turnarounds | Quality Products | Partnership | Process Driven | Bespoke Solutions | Fast Turnarounds";
    }
  }
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
